[submodule "twitter_coronavirus"]
    path = hw_twitter/twitter_coronavirus
    url = https://github.com/mikeizbicki/twitter_coronavirus

[submodule "continuous-integration"]
	path = week_00/homework
	url = https://github.com/mikeizbicki/continuous-integration

[submodule "pagila_hw"]
	path = week_04/pagila-hw
	url = https://github.com/mikeizbicki/pagila-hw
[submodule "week_03/pagila-hw"]
	path = week_03/pagila-hw
	url = https://github.com/mikeizbicki/pagila-hw
[submodule "week_04/pagila-hw2"]
	path = week_04/pagila-hw2
	url = https://github.com/mikeizbicki/pagila-hw2
[submodule "week_05/pagila-hw3"]
	path = week_05/pagila-hw3
	url = https://github.com/mikeizbicki/pagila-hw3
