[submodule "continuous-integration"]
	path = topic_00_unix/hw-continuous-integration
	url = https://github.com/mikeizbicki/continuous-integration

[submodule "twitter_coronavirus"]
    path = topic_01_mapreduce/hw-twitter
    url = https://github.com/mikeizbicki/twitter_coronavirus

#[submodule "week_07/pagila-midterm"]
	#path = week_07/pagila-midterm
	#url = https://github.com/mikeizbicki/pagila-midterm
#[submodule "week_06/twitter_postgres"]
	#path = week_06/twitter_postgres
	#url = https://github.com/mikeizbicki/twitter_postgres
#[submodule "week_10/twitter_postgres_parallel"]
	#path = week_10/twitter_postgres_parallel
	#url = https://github.com/mikeizbicki/twitter_postgres_parallel
#[submodule "week_12/twitter_postgres_indexes"]
	#path = week_12/twitter_postgres_indexes
	#url = https://github.com/mikeizbicki/twitter_postgres_indexes
#[submodule "week_13/search_engine"]
	#path = week_13/search_engine
	#url = https://github.com/mikeizbicki/search_engine
#[submodule "week_15/wardial"]
	#path = week_15/wardial
	#url = https://github.com/mikeizbicki/wardial
[submodule "topic_04_SQL_1/pagila-hw"]
	path = future/topic_04_SQL_1/pagila-hw
	url = https://github.com/mikeizbicki/pagila-hw
[submodule "topic_04_SQL_1/sql_quiz"]
	path = future/topic_04_SQL_1/sql_quiz
	url = https://github.com/mikeizbicki/sql_quiz
[submodule "topic_05_SQL_2/pagila_hw2"]
	path = future/topic_05_SQL_2/pagila_hw2
	url = https://github.com/mikeizbicki/pagila-hw2
[submodule "topic_06_schema_design/pagila-hw3"]
	path = future/topic_06_schema_design/pagila-hw3
	url = https://github.com/mikeizbicki/pagila-hw3
[submodule "topic_08_SQL+Python/twitter_postgres"]
	path = future/topic_08_SQL+Python/twitter_postgres
	url = https://github.com/mikeizbicki/twitter_postgres
[submodule "topic_11_indexes_advanced/twitter_postgres_indexes"]
	path = future/topic_11_indexes_advanced/twitter_postgres_indexes
	url = https://github.com/mikeizbicki/twitter_postgres_indexes
[submodule "topic_00_overview/messages"]
	path = topic_00_unix/lab-messages
	url = https://github.com/mikeizbicki/messages
[submodule "topic_00_overview/lab-goodreads"]
	path = topic_00_unix/lab-goodreads-part1
	url = https://github.com/mikeizbicki/lab-goodreads
[submodule "topic_00_unix/lab-goodreads2"]
	path = topic_00_unix/lab-goodreads-part2
	url = https://github.com/mikeizbicki/lab-goodreads2
[submodule "topic_01_mapreduce/lab-pipes-twitter"]
	path = topic_01_mapreduce/lab-pipes-twitter
	url = https://github.com/mikeizbicki/lab-pipes-twitter
[submodule "topic_01_mapreduce/twitter_coronavirus"]
	path = topic_01_mapreduce/hw-twitter-coronavirus
	url = https://github.com/mikeizbicki/twitter_coronavirus
[submodule "topic_01_mapreduce/lab-posix-mapreduce"]
	path = topic_01_mapreduce/lab-posix-mapreduce
	url = https://github.com/mikeizbicki/lab-posix-mapreduce
